.account-wrapper {
    max-width: 1100px;
    margin: 30px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    font-family: Arial, sans-serif;
}

.account-wrapper h2 {
    margin-bottom: 15px;
    color: #724725;
    border-left: 5px solid #724725;
    padding-left: 10px;
}

.account-info p {
    text-align: left;      
    font-size: 15px;
    margin: 6px 0;
    color: #724725;
}



.account-header {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 600px;               
    margin-bottom: 20px;
}

.account-info {
    text-align: left;
}

.logout-btn {
     white-space: nowrap;

    padding: 8px 18px;

    background-color: #9a5f36;  
    color: #fff;              
    border: 2px solid #9a5f36;   
    border-radius: 6px;         
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

    transition: all 0.25s ease;
}




.order-table,
.order-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.order-table th,
.order-table td,
.order-detail-table th,
.order-detail-table td {
    color: #724725;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.order-table th,
.order-detail-table th {
    background: #b8835d;
    color: #fafafa;
    font-weight: bold;
}

.order-table tr:hover {
    background: #fafafa;
}

.view-detail {
    color: #724725;
    font-weight: bold;
    text-decoration: none;
}

.view-detail:hover {
    text-decoration: underline;
}

.order-detail-title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #724725;
}

.status-pending {
    color: #e67e22;
    font-weight: bold;
}

.status-success {
    color: #27ae60;
    font-weight: bold;
}

.status-cancel {
    color: #e74c3c;
    font-weight: bold;
}
